<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="SetupLogo.gif"/>
    <add key="EULA" value=""/>
    <!--<add key="Require" value="MOSS"/>-->
    <add key="MinSharePointVersion" value="1.0.0.0"/>
    <add key="MaxSharePointVersion" value=""/>
    <add key="SolutionId" value="18577582-263f-46d0-82c2-f5baf0dc204b"/>
      <!-- FarmFeatureId: Old way to specify a single farm-level feature
            obsoleted by newer FeatureId key -->
    <!--<add key="FarmFeatureId" value="dca2c452-9edf-4991-9b09-68e642bb9b04"/>-->
      <!-- FeatureId: Feature(s) to install/upgrade/repair
          Either a single GUID, or a semicolon delimited GUID list -->
    <!--add key="FeatureId" value="50475022-2557-4ca2-9ccf-4ec72c054d32"/ -->
      <!-- FeatureScope: Scope of feature(s) specified in FeatureId
          Legal values: Farm, Web Application, Site, Web-->
    <!-- add key="FeatureScope" value="Farm"/ -->
    <add key="SolutionFile" value="nga.wsp"/>
    <add key="SolutionTitle" value="National Guard Apps (NGA) v1.0"/>
      <!-- SolutionVersion: Version of solution: this value is stored in the farm property bag -->
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="true"/>
      <!-- DefaultDeployToSRP: Whether box for Shared Resource Provider web app is initially checked
            if user is prompted for web applications to target -->
    <add key="DefaultDeployToSRP" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="true"/>
    <add key="DefaultDeployToContentWebApplications" value="true"/>
      <!-- PromptForWebApplications: To force user prompt for web application; 
           useful if a dll is included, so SafeControl entries needed, 
           but feature not at webapp level -->
    <add key="PromptForWebApplications" value="false"/>
      <!-- CompatibilityLevel: For SharePoint 2013, see docs for Install-SPSolution -->
    <add key="CompatibilityLevel" value="15"/>
  </appSettings>
</configuration>
 