IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Components]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[Components](
		[ID] [int] IDENTITY(1,1) NOT NULL,
		[Name] [nvarchar](50) NOT NULL,
		[Description] [nvarchar](512) NOT NULL,
		[DisplayIndex] [int] NOT NULL CONSTRAINT [DF_Components_DisplayIndex]  DEFAULT ((1)),
		[IsActive] [bit] NOT NULL CONSTRAINT [DF_Components_IsActive]  DEFAULT ((1)),
		[IsProtected] [bit] NOT NULL CONSTRAINT [DF_Components_IsProtected]  DEFAULT ((0)),
		[CreatedOn] [datetime] NOT NULL CONSTRAINT [DF_Components_CreatedOn]  DEFAULT (getutcdate()),
		[CreatedBy] [nvarchar](150) NOT NULL CONSTRAINT [DF_Components_CreatedBy]  DEFAULT (N'System Account'),
		[ModifiedOn] [datetime] NOT NULL CONSTRAINT [DF_Components_ModifiedOn]  DEFAULT (getutcdate()),
		[ModifiedBy] [nvarchar](150) NOT NULL CONSTRAINT [DF_Components_ModifiedBy]  DEFAULT (N'System Account'),
	 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]

	SET IDENTITY_INSERT [dbo].[Components] ON 
	INSERT [dbo].[Components] ([ID], [Name], [Description], [DisplayIndex], [IsActive], [IsProtected], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Unspecified', N'Unspecified', 0, 0, 1, CAST(N'2013-08-17 20:44:55.183' AS DateTime), N'System Account', CAST(N'2013-08-17 20:44:55.183' AS DateTime), N'System Account')
	INSERT [dbo].[Components] ([ID], [Name], [Description], [DisplayIndex], [IsActive], [IsProtected], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'ASBCA', N'Armed Services Board of Contract Appeals', 1, 1, 0, CAST(N'2013-08-17 20:44:55.183' AS DateTime), N'System Account', CAST(N'2013-08-17 20:44:55.183' AS DateTime), N'System Account')
	INSERT [dbo].[Components] ([ID], [Name], [Description], [DisplayIndex], [IsActive], [IsProtected], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'BTA', N'Defense Business Transformation Agency', 1, 1, 0, CAST(N'2013-08-17 20:45:30.950' AS DateTime), N'System Account', CAST(N'2013-08-17 20:45:30.950' AS DateTime), N'System Account')
	SET IDENTITY_INSERT [dbo].[Components] OFF
END

IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'DisplayIndex' AND Object_ID = Object_ID(N'[dbo].[Components]'))
BEGIN
	ALTER TABLE [dbo].[Components] ADD [DisplayIndex] [int] NOT NULL CONSTRAINT [DF_Components_DisplayIndex]  DEFAULT ((1))
END

/**  Update Table Version **/
DECLARE @Name NVARCHAR(100)
DECLARE @Version NVARCHAR(50)

SET @Name = 'dbo.Components'
SET @Version = '1.0.0'

IF EXISTS (SELECT Name FROM dbo.TableVersions  WHERE Name = @Name)
	UPDATE dbo.TableVersions
	   SET Version = @Version,
		   UpdatedOn= getutcdate()
     WHERE Name = @Name
ELSE
	INSERT INTO dbo.TableVersions (Name, Version) VALUES (@Name,  @Version)